[commit]
  verbose = true

{{- if lookPath "delta" }}
[core]
  pager = "delta"
{{- end }}

{{- if lookPath "gh" }}
[credential "https://gist.github.com"]
  helper = "gh auth git-credential"
{{- end }}

{{- if lookPath "gh" }}
[credential "https://github.com"]
  helper = "gh auth git-credential"
{{- end }}

[delta]
  dark = true
  hyperlinks = true
  line-numbers = true
  navigate = true
  side-by-side = true
  syntax-theme = "Dracula"

[diff]
  algorithm = "histogram"
  colorMoved = "default"
  renames = "copies"
  submodule = "log"

[fetch]
  fsckobjects = true
  prune = true
  prunetags = true

[filter "lfs"]
  clean = "git-lfs clean -- %f"
  process = "git-lfs filter-process"
  required = true
  smudge = "git-lfs smudge -- %f"

[help]
  autocorrect = 20

[init]
  defaultbranch = "main"

{{- if lookPath "delta" }}
[interactive]
  diffFilter = "delta --color-only"
{{- end }}

[log]
  date = "human"

[merge]
  conflictstyle = "zdiff3"

[pull]
  rebase = true

[push]
  autosetupremote = true
  default = "current"
  followtags = true

[rebase]
  autosquash = true
  autostash = true

[receive]
  fsckobjects = true

[rerere]
  autoupdate = true
  enabled = true

[status]
  submodulesummary = true

[submodule]
  recurse = true

[transfer]
  fsckobjects = true

[url "git@github.com:{{ .name }}"]
  pushInsteadOf = "https://github.com/{{ .name }}"

[user]
	email = "{{ .email }}"
	name = "{{ .name }}"

[includeIf "gitdir:~/work/"]
  path = "~/.config/git/work_config"

[include]
  path = "~/.config/git/alias"
