{{- if not .is_ephemeral -}}
[user]
  email = "{{ .git_email_work }}"
  signingkey = ~/.ssh/id_ed25519.pub

[gpg]
  format = ssh

[commit]
  gpgsign = true

{{- if lookPath "glab" }}
[credential "https://sgts.gitlab-dedicated.com"]
  helper =
  helper = "!glab auth git-credential"
  provider = generic

[url "https://sgts.gitlab-dedicated.com/"]
  insteadOf = git@sgts.gitlab-dedicated.com:
{{- end }}
{{- end }}
