[alias]
	alias = "config --get-regexp alias"
	aliases = "config --get-regexp alias"
	amend = "commit -am"
	br = "branch"
	ca = "commit -am"
	cm = "commit -m"
	co = "checkout"
	d = "diff"
	dc = "diff --cached"
	ds = "diff --stat"
	f = "fetch"
	foreach = "submodule foreach"
	gl = "config --global -l"
	last = "log -1 HEAD --stat"
	ll = "log --graph --oneline"
	p = "push"
	r = "reset"
	rh = "reset --hard"
	rs = "reset --soft HEAD~1"
	rv = "remote -v"
	s = "status"
	st = "status"
	sw = "switch"
	unadd = "restore --staged"
	undo = "reset HEAD~1 --mixed"
	untrack = "rm --cached"
	update = "submodule update --init --recursive"

[commit]
	verbose = true

[delta]
  dark = true
  hyperlink = true
	line-numbers = true
	navigate = true
	side-by-side = true
  syntax-theme = "Dracula"

[diff]
	algorithm = "histogram"
	colorMoved = "default"
  renames = "copies";
	submodule = "log"

[fetch]
	fsckobjects = true
	prune = true
	prunetags = true

[filter "lfs"]
  clean = "git-lfs clean -- %f"
  process = "git-lfs filter-process"
  required = true
  smudge = "git-lfs smudge -- %f"

[help]
	autocorrect = {{ .chezmoi.gid }}

[init]
	defaultbranch = "main"

[log]
	date = "human"

[merge]
	conflictstyle = "zdiff3"

[pull]
	rebase = true

[push]
	autosetupremote = true
	default = "current"
	followtags = true

[rebase]
	autosquash = true
	autostash = true

[receive]
	fsckobjects = true

[rerere]
	autoupdate = true
	enabled = true

[status]
	submodulesummary = true

[submodule]
	recurse = true

[transfer]
	fsckobjects = true

[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
