[".config/git/alias"]
  type = "file"
  url = "https://github.com/GitAlias/gitalias/raw/main/gitalias.txt"
  refreshPeriod = "168h"

[".config/git/ignore"]
  type = "file"
{{- if eq .chezmoi.os "darwin" }}
  url = "https://github.com/github/gitignore/raw/main/Global/macOS.gitignore"
{{- else if eq .chezmoi.os "windows" }}
  url = "https://github.com/github/gitignore/raw/main/Global/Windows.gitignore"
{{- else }}
  url = "https://github.com/github/gitignore/raw/main/Global/Linux.gitignore"
{{- end }}
  refreshPeriod = "168h"

{{- if .is_ephemeral }}
[".local/bin/fzf"]
  type = "archive-file"
  url = "{{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) }}"
  path = "fzf"
  executable = true
  refreshPeriod = "168h"

[".local/bin/yq"]
  type = "file"
  url = "{{ gitHubLatestReleaseAssetURL "mikefarah/yq" (printf "yq_%s_%s" .chezmoi.os .chezmoi.arch) }}"
  executable = true
  refreshPeriod = "168h"
{{- end }}
