[".local/bin/codebase-memory-mcp"]
  type = "archive-file"
  url = "{{ gitHubLatestReleaseAssetURL "DeusData/codebase-memory-mcp" (printf "codebase-memory-mcp-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) }}"
  path = "codebase-memory-mcp"
  executable = true
  refreshPeriod = "168h"

{{- if .is_ephemeral }}
[".local/bin/fzf"]
  type = "archive-file"
  url = "{{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) }}"
  path = "fzf"
  executable = true
  refreshPeriod = "168h"
{{- end }}

[".local/bin/lean-ctx"]
  type = "archive-file"
  url = "{{ gitHubLatestReleaseAssetURL "yvgude/lean-ctx" (printf "lean-ctx-%s-%s.tar.gz" .arch .os) }}"
  path = "lean-ctx"
  executable = true
  refreshPeriod = "168h"
