{{- $codespaces:= env "CODESPACES" | not | not -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "yxtay"
    email = "5795122+yxtay@users.noreply.github.com"
    codespaces = {{ $codespaces }}

[git]
    autoCommit = true
