#!/bin/sh
set -euo pipefail

if npx -v claude >/dev/null; then
  skills="
    vercel-labs/skills
    obra/superpowers
    JuliusBrussee/caveman
    anthropics/skills
    mattpocock/skills
  "
  for skill in ${skills}; do
    npx --yes skills add "${skill}" --global --all
  done
fi
