#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "linux" -}}
HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
{{ else if eq .chezmoi.arch "arm64" -}}
HOMEBREW_PREFIX="/opt/homebrew"
{{ else -}}
HOMEBREW_PREFIX="/usr/local"
{{ end -}}
if command -v brew >/dev/null || [[ -f "${HOMEBREW_PREFIX}/bin/brew" ]]; then
  exit 0
fi

NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
