{{ if lookpath "claude" -}}

#!/usr/bin/env bash
set -euo pipefail

if ! command -v claude >/dev/null; then
  exit
fi

marketplaces=(
  anthropics/claude-plugins-official
  JuliusBrussee/caveman
  zilliztech/memsearch
)
for entry in "${marketplaces[@]}"; do
  claude plugin marketplace add "${entry}"
done

plugins=(
  claude-code-setup@claude-plugins-official
  claude-md-management@claude-plugins-official
  gopls-lsp@claude-plugins-official
  pyright-lsp@claude-plugins-official
  typescript-lsp@claude-plugins-official
  caveman@caveman
  memsearch@memsearch-plugins
)
for entry in "${plugins[@]}"; do
  claude plugin install "${entry}"
done

if command -v atuin >/dev/null; then
  atuin hook install claude-code
fi

{{- end }}
