{{ if and (eq .chezmoi.os "darwin") (not .is_ephemeral) -}}

#!/usr/bin/env bash
set -euo pipefail

if ! command -v claude >/dev/null; then
  exit
fi

marketplaces=(
  anthropics/claude-plugins-official
  JuliusBrussee/caveman
  mksglu/context-mode
  zilliztech/memsearch
)
for entry in "${marketplaces[@]}"; do
  claude plugin marketplace add "${entry}"
done

plugins=(
  claude-md-management@claude-plugins-official
  gopls-lsp@claude-plugins-official
  pyright-lsp@claude-plugins-official
  typescript-lsp@claude-plugins-official
  superpowers@claude-plugins-official
  caveman@caveman
  context-mode@context-mode
  memsearch@memsearch
)
for entry in "${plugins[@]}"; do
  claude plugin install "${entry}"
done

{{- end }}
