{{ if and (eq .chezmoi.os "darwin") (not .is_ephemeral) -}}

#!/usr/bin/env bash
set -euo pipefail

if ! command -v claude >/dev/null; then
  exit
fi

marketplaces=(
  anthropics/claude-plugins-official
  JuliusBrussee/caveman
  mksglu/context-mode
)
for entry in "${marketplaces[@]}"; do
  claude plugin marketplace add "${entry}"
done

plugins=(
  superpowers@claude-plugins-official
  caveman@caveman
  code-review@claude-plugins-official
  code-simplifier@claude-plugins-official
  feature-dev@claude-plugins-official
  claude-md-management@claude-plugins-official
  ralph-loop@claude-plugins-official
  typescript-lsp@claude-plugins-official
  security-guidance@claude-plugins-official
  commit-commands@claude-plugins-official
  claude-code-setup@claude-plugins-official
  pr-review-toolkit@claude-plugins-official
  pyright-lsp@claude-plugins-official
  context-mode@context-mode
)
for entry in "${plugins[@]}"; do
  claude plugin install "${entry}"
done

{{- end }}
