{{- if not .is_ephemeral -}}

#!/usr/bin/env bash
set -euo pipefail

# install brew if not exists
if ! command -v brew >/dev/null; then
  bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  for prefix in /home/linuxbrew/.linuxbrew /opt/homebrew /usr/local; do
    brew=${prefix}/bin/brew
    if [[ -x "${brew}" ]]; then
      eval "$("${brew}" shellenv)"
      break
    fi
  done
fi

brew update

taps=(
  atlassian/acli
  databricks/tap
  hashicorp/tap
  oven-sh/bun
)

for tap in "${taps[@]}"; do
  brew trust "${tap}"
done

brew bundle install \
  --upgrade --force \
  --zap --force-cleanup \
  --file=/dev/stdin <<EOF

###
# cli utilities
###

# shell
brew "atuin"
brew "btop"
brew "procs"
brew "tlrc"

cargo "pay-respects"

# text
brew "jq"
brew "ripgrep"
brew "sd"
brew "yq"

# files
brew "bat"
brew "dtrx"
brew "duf"
brew "dust"
brew "eza"
brew "fd"
brew "fzf"
brew "zoxide"

# security
brew "gnupg"

# data transfer
brew "httpie"
brew "rclone"
brew "rsync"
brew "unison"

# git
brew "gh"
brew "git"
brew "git-delta"
brew "git-extras"
brew "git-lfs"
brew "glab"

###
# misc
###

# terminals & editors
brew "helix"
brew "tmux"

# dev
brew "ansible"
brew "bitwarden-cli"
brew "oven-sh/bun/bun"
brew "deno"
brew "direnv"
brew "go"
brew "libomp"
brew "mise"
brew "node"
brew "ollama"
brew "pnpm"
brew "rust"
brew "hashicorp/tap/terraform"
brew "terragrunt"
brew "yarn"

# python
brew "uv"
brew "pre-commit"
brew "ruff"
brew "ty"

# cloud
brew "atlassian/homebrew-acli/acli"
brew "awscli"
brew "azure-cli"
brew "databricks/tap/databricks"
brew "oci-cli"

# container
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "docker-credential-helper"
brew "kubernetes-cli"

brew "ctx7"
brew "opencode"
brew "rtk"
uv "memsearch"

{{- if eq .chezmoi.os "darwin" }}

brew "colima"

###
# GNU
###
# https://github.com/shinokada/macgnu
# https://github.com/pkill37/linuxify

# GNU programs non-existing in macOS
brew "autoconf"
brew "tree"
brew "watch"
brew "wdiff"
brew "wget"

# GNU programs whose BSD counterpart is installed in macOS
brew "coreutils"
brew "binutils"
brew "diffutils"
brew "ed"
brew "findutils"
brew "gawk"
brew "gnu-indent"
brew "gnu-sed"
brew "gnu-tar"
brew "gnu-which"
brew "grep"
brew "gzip"
brew "screen"

# GNU programs existing in macOS which are outdated
brew "bash"
brew "bison"
brew "emacs"
brew "gpatch"
brew "less"
brew "m4"
brew "make"
brew "nano"

# BSD programs existing in macOS which are outdated
brew "flex"

##
# casks
##

# mac
cask "rectangle"

# web
cask "adguard"
cask "brave-browser"
cask "firefox"

# communication
cask "microsoft-auto-update"  # for microsoft-teams
cask "microsoft-teams"
cask "slack"
cask "zoom"

# dev
cask "claude-code"
cask "github"
cask "visual-studio-code"
cask "wezterm"

# entertainment
cask "spotify"

# work
cask "1password"
cask "cloudflare-warp"
cask "intune-company-portal"
cask "libreoffice"

{{- end }}
EOF

brew bundle dump --global --force

{{- end }}
