# eval and completion
source ${ZIM_HOME}/modules/zsh-smartcache/zsh-smartcache.plugin.zsh

{{- if lookPath "chezmoi" }}
smartcache comp chezmoi completion zsh
{{- end }}
{{- if lookPath "codefresh" }}
smartcache comp codefresh completion zsh
{{- end }}
{{- if lookPath "databricks" }}
smartcache comp databricks completion zsh
{{- end }}
{{- if lookPath "docker" }}
smartcache comp docker completion zsh
{{- end }}
{{- if lookPath "gh" }}
smartcache comp gh completion -s zsh
{{- end }}
{{- if lookPath "helm" }}
smartcache comp helm completion zsh
{{- end }}
{{- if lookPath "kubectl" }}
smartcache comp kubectl completion zsh
{{- end }}
{{- if lookPath "podman" }}
smartcache comp podman completion zsh
{{- end }}
{{- if lookPath "poetry" }}
smartcache comp poetry completions zsh
{{- end }}
{{- if lookPath "pip" }}
smartcache comp python -m pip completion --zsh
{{- end }}
{{- if lookPath "ruff" }}
smartcache comp ruff generate-shell-completion zsh
{{- end }}
{{- if lookPath "rustup" }}
smartcache comp rustup completions zsh
{{- end }}
{{- if lookPath "uv" }}
smartcache comp uv generate-shell-completion zsh
{{- end }}
