{{- if eq chezmoi.os "darwin" }}
# Terminals & Editors
brew "helix"
brew "tmux"
brew "zsh"

# Git tools
brew "git-delta"
brew "git-extras"
brew "git-lfs"

# GNU tools
brew "autoconf"
brew "bash"
brew "bison"
brew "coreutils"
brew "diffutils"
brew "ed"
brew "findutils"
brew "flex"
brew "gawk"
brew "gnu-patch"
brew "gnu-sed"
brew "gnu-tar"
brew "grep"
brew "gzip"
brew "indent"
brew "less"
brew "m4"
brew "make"
brew "screen"
brew "tree"
brew "watch"
brew "wdiff"
brew "wget"

# Dev tools
brew "ansible"
brew "bun"
brew "deno"
brew "direnv"
brew "git"
brew "gh"
brew "glab"
brew "mise"
brew "ollama"
brew "pnpm"
brew "rustup"
brew "terraform"
brew "terragrunt"
brew "unison"
brew "yarn"

# Container
brew "colima"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "docker-credential-helper"
brew "kubectl"

# Work / Cloud
brew "awscli"
brew "azure-cli"
brew "databricks-cli"
brew "libomp"

# macOS Apps
cask "adguard"
cask "brave-browser"
cask "cloudflare-warp"
cask "firefox"
cask "github"
cask "intune-company-portal"
cask "libreoffice"
cask "microsoft-auto-update"
cask "microsoft-teams"
cask "rectangle"
cask "slack"
cask "spotify"
cask "tailscale-app"
cask "visual-studio-code"
cask "wezterm"
cask "zoom"
{{- end }}
